<div class="tour-card swiper-slide">
  <div class="card-image-contaier">
    <img
      class="tour-card-image"
      src="./images/tours/tour3.jpg"
      srcset="./images/tours/tour3.jpg 1x, ./images/tours/tour3@2x.jpg 2x"
      alt="Tour view ilustration"
    />
  </div>
  <div class="card-content">
    <h3 class="tour-card-title">Black Sea Jewel</h3>
    <div class="tour-text-container">
    <p class="tour-card-description tour3">
      This interesting tour will introduce you to the most beautiful seaside
      city of Ukraine - Odessa. You will walk along the central Primorsky
      Boulevard where you can get acquainted with the color of the city, its
      architecture and unique atmosphere. You will visit the Potemkin Stairs -
      one of the most famous sights of Odessa, where you can admire the
      beautiful views of the city and the sea. You will also have a look at the
      famous Odessa Opera and Ballet Theater. After that you will have a look at
      the masterpieces of Odessa cuisine in one of the most famous restaurants.
    </p>
    <div>
      <p class="card-list-title">Included:</p>
      <ul class="card-list">
        <li>
          <img
            class="card-icons"
            src="./images/tours/icons/1-bus.svg"
            alt="buss icon"
          />
          Transfer
        </li>
        <li>
          <img
            class="card-icons"
            src="./images/tours/icons/2-id-card.svg"
            alt="id card icon"
          />
          Travel insurance
        </li>
        <li>
          <img
            class="card-icons"
            src="./images/tours/icons/3-face.svg"
            alt="face icon"
          />
          Professional guide
        </li>
        <li>
          <img
            class="card-icons"
            src="./images/tours/icons/4-ticket.svg"
            alt="ticket icon"
          />
          Travel insurance
        </li>
      </ul>
    </div>
    </div>
    <a href="#out-tours" class="prim-btn card-btn">Book</a>
  </div>
</div>
