<div class="tour-card swiper-slide">
  <div class="card-image-contaier">
    <img
      class="tour-card-image"
      src="./images/tours/tour1.jpg"
      srcset="./images/tours/tour1.jpg 1x, ./images/tours/tour1@2x.jpg 2x"
      alt="Tour view ilustration"
    />
  </div>
  <div class="card-content">
    <h3 class="tour-card-title">Lake Synevyr and Shipit waterfall</h3>
    <div class="tour-text-container">
      <p class="tour-card-description">
        This very interesting excursion will introduce you to the most beautiful
        lake of the Carpathians "Synevyr", the impressive and magical waterfall
        lake Synevirm "Shypit", which is also located in the Ukrainian
        Carpathians. You will have the opportunity to try Soymivska and
        Kelechynska mineral springs, drinks and delicious dishes of Carpathian
        cuisine and, of course, admire the beautiful scenery of the unique
        Ukrainian Carpathians.
      </p>
      <div>
        <p class="card-list-title">Included:</p>
        <ul class="card-list">
          <li>
            <img
              class="card-icons"
              src="./images/tours/icons/1-bus.svg"
              alt="buss icon"
            />
            Transfer
          </li>
          <li>
            <img
              class="card-icons"
              src="./images/tours/icons/2-id-card.svg"
              alt="id card icon"
            />
            Travel insurance
          </li>
          <li>
            <img
              class="card-icons"
              src="./images/tours/icons/3-face.svg"
              alt="face icon"
            />
            Professional guide
          </li>
          <li>
            <img
              class="card-icons"
              src="./images/tours/icons/4-ticket.svg"
              alt="ticket icon"
            />
            Travel insurance
          </li>
        </ul>
      </div>

    </div>


    <a href="#out-tours" class="prim-btn card-btn">Book</a>
  </div>
</div>
