<section class="tours" id="tours">
  <h2 class="section-title">Our tours</h2>
  <div class="swiper tourSwiper">
    <div class="tours-container swiper-wrapper">
      <include src="./partials/tours/tour1.html"></include>
      <include src="./partials/tours/tour2.html"></include>
      <include src="./partials/tours/tour3.html"></include>
    </div>
  </div>
  <div class="arrow-container tours-arrow-container">
    <div class="arrow tours-prev inactive">
      <img src="./images/icons/arrow-left.svg" alt="" />
    </div>
    <div class="arrow tours-next">
      <img src="./images/icons/arrow-right.svg" alt="" />
    </div>
  </div>
</section>
