<div class="tour-card swiper-slide">
  <div class="card-image-contaier">
    <img
      data-scroll
      data-scroll-class="scaleUp"
      data-scroll-repeat="true"
      class="tour-card-image"
      src="./images/tours/tour2.jpg"
      srcset="./images/tours/tour2.jpg 1x, ./images/tours/tour2@2x.jpg 2x"
      alt="Tour view ilustration"
    />
  </div>
  <div class="card-content" data-scroll data-scroll-speed="1">
    <h3 class="tour-card-title">Ancient History & Vibrant Present</h3>
    <div class="tour-text-container colos">
      <p class="tour-card-description">
        This interesting excursion will familiarize you with one of the most
        important shrines of Kiev, St. Sophia Cathedral, which is a UNESCO World
        Heritage Site. Also you will see one of the main gates of Kiev of the
        times of Kiev Rus'. Golden Gate. Ambassadors you will be able to bargain
        at one of the most sterile markets in Kiev - the Bessarabian Market and
        also taste local delicacies. And closer to the evening you will visit
        one of the main Orthodox monasteries. Kiev-Pechersk Lavra, described in
        the 9th century chronicles.
      </p>
      <ul class="tour-list">
        <li>Departure from Kiev (08:00)</li>
        <li>St. Sophia's Cathedral (iconic UNESCO World Heritage site)</li>
        <li>Golden Gate (historical monument visit)</li>
        <li>Bessarabsky Market (tasting local delicacies)</li>
        <li>Kiev Pechersk Lavra (exploration of the significant monastery)</li>
        <li>Return to Kiev by 20:00</li>
      </ul>
      <div
        data-scroll
        data-scroll-speed="0.1"
        data-scroll-direction="horizontal"
        data-scroll-class="slide-in-bck-center"
        data-scroll-repeat="true"
      >
        >
        <p class="card-list-title">Included:</p>
        <ul class="card-list">
          <li>
            <img
              class="card-icons"
              src="./images/tours/icons/1-bus.svg"
              alt="buss icon"
            />
            Transfer
          </li>
          <li>
            <img
              class="card-icons"
              src="./images/tours/icons/2-id-card.svg"
              alt="id card icon"
            />
            Travel insurance
          </li>
          <li>
            <img
              class="card-icons"
              src="./images/tours/icons/3-face.svg"
              alt="face icon"
            />
            Professional guide
          </li>
          <li>
            <img
              class="card-icons"
              src="./images/tours/icons/4-ticket.svg"
              alt="ticket icon"
            />
            Travel insurance
          </li>
        </ul>
      </div>
    </div>
    <div class="btn-container">
      <a href="#our-tours" data-anchor class="prim-btn card-btn">Book</a>
      <div class="price">
        <p class="price-tag">Price:</p>
        <p class="price-value">3000 UAH</p>
      </div>
    </div>
  </div>
</div>
