<section class="gallery" id="gallery" data-scroll data-scroll-speed="1.5">
  <h2 class="section-title" data-scroll data-scroll-speed="6" data-scroll-class="appear" data-scroll-repeat="true">Gallery</h2>
  <div class="swiper gallerySwiper">
    <div class="swiper-wrapper gallery-container">
      <div class="swiper-slide gallery-item">
        <picture>
          <source srcset="./images/gallery/slide1.webp 1x, ./images/gallery/slide1@2x.webp 2x" type="image/webp" />
          <source srcset="./images/gallery/slide1.jpg 1x, ./images/gallery/slide1@2x.jpg 2x" type="image/jpg" />
          <img class="gallery-image" src="./images/gallery/slide1@2x.jpg" alt="snow mountain forest" />
        </picture>
      </div>
      <div class="swiper-slide gallery-item">
        <picture>
          <source srcset="./images/gallery/slide2.webp 1x, ./images/gallery/slide2@2x.webp 2x" type="image/webp" />
          <source srcset="./images/gallery/slide2.jpg 1x, ./images/gallery/slide2@2x.jpg 2x" type="image/jpg" />
          <img class="gallery-image" src="./images/gallery/slide2@2x.jpg" alt="night sky view from mountain" />
        </picture>
      </div>
      <div class="swiper-slide gallery-item">
        <picture>
          <source srcset="./images/gallery/slide3.webp 1x, ./images/gallery/slide3@2x.webp 2x" type="image/webp" />
          <source srcset="./images/gallery/slide3.jpg 1x, ./images/gallery/slide3@2x.jpg 2x" type="image/jpg" />
          <img class="gallery-image" src="./images/gallery/slide3@2x.jpg" alt="forest tunel" />
        </picture>
      </div>
      <div class="swiper-slide gallery-item">
        <picture>
          <source srcset="./images/gallery/slide4.webp 1x, ./images/gallery/slide4@2x.webp 2x" type="image/webp" />
          <source srcset="./images/gallery/slide4.jpg 1x, ./images/gallery/slide4@2x.jpg 2x" type="image/jpg" />
          <img class="gallery-image" src="./images/gallery/slide4@2x.jpg" alt="synevyr lake" />
        </picture>
      </div>
      <div class="swiper-slide gallery-item">
        <picture>
          <source srcset="./images/gallery/slide5.webp 1x, ./images/gallery/slide5@2x.webp 2x" type="image/webp" />
          <source srcset="./images/gallery/slide5.jpg 1x, ./images/gallery/slide5@2x.jpg 2x" type="image/jpg" />
          <img class="gallery-image" src="./images/gallery/slide5@2x.jpg" alt="synevyr lake" />
        </picture>
      </div>
      <div class="swiper-slide gallery-item">
        <picture>
          <source srcset="./images/gallery/slide6.webp 1x, ./images/gallery/slide6@2x.webp 2x" type="image/webp" />
          <source srcset="./images/gallery/slide6.jpg 1x, ./images/gallery/slide6@2x.jpg 2x" type="image/jpg" />
          <img class="gallery-image" src="./images/gallery/slide6@2x.jpg" alt="see shore" />
        </picture>
      </div>
      <div class="swiper-slide gallery-item">
        <picture>
          <source srcset="./images/gallery/slide7.webp 1x, ./images/gallery/slide7@2x.webp 2x" type="image/webp" />
          <source srcset="./images/gallery/slide7.jpg 1x, ./images/gallery/slide7@2x.jpg 2x" type="image/jpg" />
          <img class="gallery-image" src="./images/gallery/slide7@2x.jpg" alt="pink lake" />
        </picture>
      </div>
      <div class="swiper-slide gallery-item">
        <picture>
          <source srcset="./images/gallery/slide2.webp 1x, ./images/gallery/slide2@2x.webp 2x" type="image/webp" />
          <source srcset="./images/gallery/slide8.jpg 1x, ./images/gallery/slide8@2x.jpg 2x" type="image/jpg" />
          <img class="gallery-image" src="./images/gallery/slide8@2x.jpg" alt="Kaminetz potolskiy castle" />
        </picture>
      </div>
    </div>
  </div>
  <div class="arrow-container gal-arows">
    <div class="arrow gallery-prev inactive">
      <img src="./images/icons/arrow-left.svg" alt="" />
    </div>
    <div class="arrow gallery-next">
      <img src="./images/icons/arrow-right.svg" alt="" />
    </div>
  </div>
</section>
