<ul class=" footer-socials">
    <li>
      <a href="#" target="_blank" rel="noopener noreferrer"
        ><img
          src="./images/icons/instagram.svg"
          alt="instagram"
          title="instagram"
      /></a>
    </li>
    <li>
      <a href="#" target="_blank" rel="noopener noreferrer"
        ><img src="./images/icons/facebook.svg" alt="facebook" title="facebook"
      /></a>
    </li>
    <li>
      <a href="#" target="_blank" rel="noopener noreferrer"
        ><img src="./images/icons/telegram.svg" alt="telegram" title="teleghram"
      /></a>
    </li>
  </ul>
  