<section class="footer" id="contacts">
  <h2 class="visually-hidden">footer</h2>
  <picture>
    <source media="(max-width: 834px)" srcset="./images/logo/logo-footer-mob.png 1x, ./images/logo/logo-footer-mob@2x.png 2x"  />
    <source media="(max-width: 1439px) and (min-width: 835px)" srcset="./images/logo/logo-footer-tab.png 1x, ./images/logo/logo-footer-tab@2x.png 2x" />
    <source media="(min-width: 1440px)" srcset="./images/logo/logo-footer-dsk.png 1x, ./images/logo/logo-footer-dsk@2x.png 2x" />
    <img
      class="footer-logo"
      src="./images/logo/logo-footer-dsk@2x.png"
      alt="Logo"
    />
  </picture>

  <include src="./partials/footer/footer-nav.html"></include>
  <div class="footer-right-container">
    <include src="./partials/footer/footer-contacts.html"></include>
    <include src="./partials/footer/footer-socials.html"></include>
  </div>
</section>
<p class="footer-rights">© All Rights Reserved</p>
