<section class="form-section" id="our-tours" >
  <h2 class="visually-hidden">Make Order</h2>
  <div class="form-container" data-scroll data-scroll-speed="4">
    <div class="form-context">
      <div class="form-context-left">
        <h3 class="form-title">Start travel</h3>
        <p class="form-description">
          If you want to get an unforgettable trip, quickly fill out the
          application and we will contact you during the day
        </p>
        <p class="form-description">
          We are ready to answer any questions and help choose the best tour
        </p>
      </div>

      <form class="form" >
        <label class="form-label"
          >Name
          <input
            class="form-field"
            type="text"
            name="name"
            placeholder="Enter your name"
            required
        /></label>
        <label class="form-label"
          >Phone
          <input
            class="form-field"
            type="tel"
            name="tel"
            placeholder="+380__-___-__-__"
            pattern="^\+?3?8?(0[5-9][0-9]\d{7})$"
            title="+380__-___-__-__"
            required
        /></label>

        <textarea
          class="form-field message"
          name="message"
          cols="30"
          rows="10"
          required
        ></textarea>

        <button type="submit" class="prim-btn sumbit-btn">Send</button>
      </form>
    </div>
  </div>
</section>
