<section class="hero" data-scroll>
  <h1
    class="main-title slide-top tracking-in-expand"
    data-scroll
    data-scroll-speed="1"
    data-scroll-class="tracking-in-expand"
    data-scroll-repeat="true"
  >
    Unlock the Wonders <br />
    of <span class="large-word">Ukraine</span>
  </h1>
  <a
    href="#tours"
    data-anchor
    class="prim-btn hero-btn"
    data-scroll
    data-scroll-speed="2"
    id="hero-trigger"
    >Our tours</a
  >
  <include src="./partials/elements/fog.html"></include>
  <include src="./partials/hero/socials.html"></include>
  <include src="./partials/hero/audio.html"></include>
</section>
