.hero {
  height: 100vh;
  width: 100vw;
overflow:hidden;
  position: relative;
  background-image: image-set(url('../images/hero/mob.jpg') type("image/jpg"), url('../images/hero/mob.webp') type('image/webp'));

  object-fit: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  @media screen and (min-resolution: 2dppx) {
    background-image: image-set(url('../images/hero/mob@2x.jpg')type("image/jpg") , url('../images/hero/mob@2x.webp') type('image/webp'));
  }
}

.main-title {
  font-family: Jomolhari;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  letter-spacing: 0.24px;

  max-width: 234px;
  margin-bottom: 98px;
}
.large-word {
  display: block;
  font-family: Jomolhari;
  font-size: 64px;
  font-weight: 400;
  line-height: 89.6px;
  letter-spacing: 0.64px;

  position: relative;

  animation-name: slide-in-bck-center, pulsate-bck;
  animation-duration: 1s, 10s;
  animation-delay: 0s, 1s;
  animation-timing-function: ease, ease-in-out;
  animation-iteration-count: 1, infinite;
}
.large-word:after {
  content: 'Ukraine';
  position: absolute;
  top: 60%;
  left: 0;

  background: linear-gradient(15deg, #fff -54.67%, rgba(255, 255, 255, 0) 58.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transform: scaleY(-1);
}
.hero-btn {
  z-index: 1;
}

@media screen and (min-width: $tab) {
  .hero {
    height: 1075px;
    padding-bottom: 300px;
    padding-top: 300px;

    background-image: image-set(url('../images/hero/tab.jpg') type("image/jpg") , url('../images/hero/tab.webp') type('image/webp'));
    @media screen and (min-resolution: 2dppx) {
      background-image: image-set(url('../images/hero/tab@2x.jpg') type("image/jpg") , url('../images/hero/tab@2x.webp') type('image/webp'));
    }
  }
  .main-title {
    font-size: 48px;
    line-height: 67.2px;
    letter-spacing: 0.48px;
    margin-bottom: 48px;

    max-width: 468px;
  }
  .large-word {
    font-size: 128px;
    line-height: 179.2px;
    letter-spacing: 1.28px;
  }
}

@media screen and (min-width: $dsk) {
  .hero {
    background-image: image-set(url('../images/hero/dsk.jpg') type("image/jpg") , url('../images/hero/dsk.webp') type('image/webp'));
    @media screen and (min-resolution: 2dppx) {
      background-image: image-set(url('../images/hero/dsk@2x.jpg') type("image/jpg") , url('../images/hero/dsk@2x.webp') type('image/webp'));
    }
  }
}
