<section class="about" id="about" data-scroll data-scroll-class="bgScaleUp" data-scroll-repeat="true">
  <h2 class="section-title"  data-scroll  data-scroll-speed="1.2" data-scroll-class="appear" data-scroll-repeat="true">About us</h2>
  <ul class="text-container" >
    <li class="text-topic"  data-scroll data-scroll-speed="0.5" data-scroll-offset="25%, 15%" >
      Welcome to our travel agency in Ukraine! We are a locally owned and
      operated travel agency that specializes in creating unique and
      unforgettable travel experiences for our clients. Our team of experienced
      travel professionals is dedicated to providing personalized service to
      help you plan your dream vacation. We have extensive knowledge of
      Ukraine's culture, history, and geography, which allows us to create
      customized itineraries that showcase the best of our beautiful country.
    </li>
    <li class="text-topic" data-scroll data-scroll-speed="0.7" data-scroll-offset="25%, 15%">
      We are committed to providing our clients with exceptional customer
      service and support throughout their travels. Our team is always available
      to assist you with any questions or concerns you may have before, during,
      and after your trip.
      <span class="text-break"
        >Thank you for considering our travel agency for your travel needs. We
        look forward to helping you plan an unforgettable vacation in Ukraine or
        beyond!
    </span>
    </li>
  </ul>
</section>
