.gallery-image {
  border-radius: 4px;
  overflow: hidden;
  display: block;
  width: 100%;
}

@media screen and (min-width: $tab) {
  .gal-arows, .rew-arrows {
    width: 100%;
  }
}
@media screen and (min-width: $dsk) {
  .gallery-item {
    width: 400px !important;
  }
}
