.reviews {
  background-image: url('../images/review/mob.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  @media screen and (min-resolution: 2dppx) {
    background-image: url('../images/review/mob@2x.png');
  }

  margin-bottom: 100px;

  @media screen and (min-width: $tab) {
    background-image: url('../images/review/tab.png');
    @media screen and (min-resolution: 2dppx) {
      background-image: url('../images/review/tab@2x.png');
    }
  
  }

  @media screen and (min-width: $dsk) {
    background-image: url('../images/review/dsk.png');
    @media screen and (min-resolution: 2dppx) {
      background-image: url('../images/review/dsk@2x.png');
    }
  
  }


}

.reviewSwiper {
  width: 100%;
}
.review-card {
  width: 100%;
  border: 1px solid $text-white;
  display: flex;
  flex-direction: column;
  padding: 32px;
  align-items: flex-start;
  gap: 8px;
}
.user-tab {
  display: flex;
  align-items: center;

  align-self: stretch;
  margin-bottom: 32px;
}
.user-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.user-photo > img {
  width: 100%;
  height: 100%;
  transform: scale(1.01)
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
}
.user-name {
  font-family: Jomolhari;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: 0.18px;
}
.user-ratings {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.rating-star {
  width: 24px;
  height: 24px;
}
.user-review {
  font-family: Lato;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 0.16px;
  text-align: left;


  height: 158px;
  width: 100%;
}



@media screen and (min-width: $mob) {
  .user-tab {
    gap: 24px;
  }

}
@media screen and (min-width: $tab) {
  .review-card{
    width: 320px !important;
  }
  .user-review{
    height: 185px;
  }
}

