<div class="swiper-slide review-card"  d>
  <div class="user-tab">
    <div class="user-photo">
      <img
        src="./images/users/user3@2x.jpg"
        alt="user photo"
        srcset="./images/users/user3.jpg 1x, ./images/users/user3@2x.jpg 2x"
      />
    </div>

    <div class="user-info">
      <h3 class="user-name">Valeriy</h3>
      <ul class="user-ratings">
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
      </ul>
    </div>
  </div>
  <p class="user-review">
    My trip on the tour with this site was unforgettable! Excellent
    organization, comfortable hotels and exciting excursions. Every detail was
    carefully thought out and I could enjoy every moment without any worries.
  </p>
</div>
