<div class="swiper-slide review-card" >
  <div class="user-tab">
    <div class="user-photo">
      <img
        src="./images/users/user1@2x.jpg"
        alt="user photo"
        srcset="./images/users/user1.jpg 1x, ./images/users/user1@2x.jpg 2x"
      />
    </div>

    <div class="user-info">
      <h3 class="user-name">Anastasia</h3>
      <ul class="user-ratings">
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
      </ul>
    </div>
  </div>
  <p class="user-review">
    Professional guides, comfortable transport, excellent hotels and exciting
    excursions - it was unforgettable! I recommend this company to anyone who
    wants to get the best experience out of their trip.
  </p>
</div>
