<div class="swiper-slide review-card">
  <div class="user-tab">
    <div
      class="user-photo"
      class="user-photo"
      data-scroll
      data-scroll-class="scaleUp"
      data-scroll-repeat="true"
    >
      <img
        src="./images/users/user4@2x.jpg"
        alt="user photo"
        srcset="./images/users/user4.jpg 1x, ./images/users/user4@2x.jpg 2x"
      />
    </div>

    <div class="user-info" data-scroll data-scroll-speed="-0.1">
      <h3 class="user-name">Ilona</h3>
      <ul
        class="user-ratings"
        data-scroll
        data-scroll-speed="-0.1"
        data-scroll-direction="horizontal"
      >
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
      </ul>
    </div>
  </div>
  <p
    class="user-review"
    class="user-info"
    data-scroll
    data-scroll-speed="-0.2"
    data-scroll-class="scaleUp"
    data-scroll-repeat="true"
  >
    My tour with this agency was incredible! Everything was organized to a high
    standard, including transport, accommodation and excursions. The guides were
    very professional and knew every corner of the place where we were going.
  </p>
</div>
