<section class="reviews" data-scroll  data-scroll-speed="2">
  <h2 class="section-title"  data-scroll  data-scroll-speed="1.2" data-scroll-class="appear" data-scroll-repeat="true">Reviews</h2>
  <div class="swiper reviewSwiper">
    <div class="swiper-wrapper">
        <include src="./partials/reviews/review1.html"></include>
        <include src="./partials/reviews/review2.html"></include>
        <include src="./partials/reviews/review3.html"></include>
        <include src="./partials/reviews/review4.html"></include>
    </div>
    <div class="arrow-container rew-arrows">
      <div class="arrow review-prev inactive">
        <img src="./images/icons/arrow-left.svg" alt="" />
      </div>
      <div class="arrow review-next">
        <img src="./images/icons/arrow-right.svg" alt="" />
      </div>
    </div>
  </div>
</section>
