<div class="swiper-slide review-card"  >
  <div class="user-tab">
    <div class="user-photo">
      <img
        src="./images/users/user4@2x.jpg"
        alt="user photo"
        srcset="./images/users/user4.jpg 1x, ./images/users/user4@2x.jpg 2x"
      />
    </div>

    <div class="user-info">
      <h3 class="user-name">Ilona</h3>
      <ul class="user-ratings">
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
      </ul>
    </div>
  </div>
  <p class="user-review">
    My tour with this agency was incredible! Everything was organized to a high
    standard, including transport, accommodation and excursions. The guides were
    very professional and knew every corner of the place where we were going.
  </p>
</div>
