<div class="swiper-slide review-card"  >
  <div class="user-tab">
    <div class="user-photo">
      <img
        src="./images/users/user2@2x.jpg"
        alt="user photo"
        srcset="./images/users/user2.jpg 1x, ./images/users/user2@2x.jpg 2x"
      />
    </div>

    <div class="user-info">
      <h3 class="user-name">Victoria</h3>
      <ul class="user-ratings">
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
        <li class="rating-star">
          <img src="./images/icons/star.svg" alt="star" />
        </li>
      </ul>
    </div>
  </div>
  <p class="user-review">
    I felt cozy and comfortable throughout the tour. Would have liked a little
    more free time to explore on my own, but overall was happy with the tour.
  </p>
</div>
