.header {
  position: absolute;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 30;
}
.logo {
  width: 100%;
}

.header-nav {
  display: none;
  gap: 32px;
  height: 100%;

  font-family: Lato;
  font-size: 18px;

  font-weight: 700;
  line-height: 25.2px;
  letter-spacing: 0.18px;
}
.header-nav > li {
  white-space: nowrap;
}

@media screen and (min-width: $tab) {
  .header {
    padding: 16px 32px;
  }
  .header-nav {
    display: flex;
  }
}

@media screen and (min-width: $dsk) {
  .header-nav {
    gap: 64px;
  }
}
